<div class="animated fadeInUpBig">
	<div class="row grid">
		<!-- *** Basic Input Groups *** -->
		<div class="col-md-6">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Basic Input Groups
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<a class="input-group demo-group">
								<span class="input-group-addon addon-left">@</span>
								<input type="text" class="form-control" placeholder="Username">
							</a> <br />
							<a class="input-group demo-group">
								<input type="text" class="form-control">
                                <span class="input-group-addon addon-right">.00</span>
							</a> <br />
							<a class="input-group demo-group">
                                <span class="input-group-addon addon-left">$</span>
								<input type="text" class="form-control">
                                <span class="input-group-addon addon-right">.00</span>
							</a> <br />
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->

		<!-- *** Sizing *** -->
		<div class="col-md-6">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Sizing
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row buttons-demo">
						<div class="col-md-12">
							<a class="input-group demo-group input-group-lg">
                                <span class="input-group-addon addon-left">@</span>
								<input type="text" class="form-control" placeholder="Large Input Group">
							</a> <br />
							<a class="input-group demo-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Small Input Group">
                                <span class="input-group-addon addon-right">.00</span>
							</a> <br />
							<a class="input-group demo-group">
                                <span class="input-group-addon addon-left">$</span>
                                <input type="text" class="form-control" placeholder="Default Input Group">
                                <span class="input-group-addon addon-right">.00</span>
							</a> <br />
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->
	</div>
	<!-- /row-->

	<div class="row grid">
		<!-- *** Checkbox &amp; Radio Addons *** -->
		<div class="col-md-6">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Checkbox &amp; Radio Addons
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row buttons-demo">
						<div class="col-md-12">
                            <div class="input-group demo-group">
                                <span class="input-group-addon addon-left">
									<input type="checkbox" id="c2" checked="" aria-label="Checkbox for following text input">
									<label for="c2" class="margin-zero"><span></span></label>
								</span>
								<input type="text" class="form-control" aria-label="Text input with checkbox">
							</div>
						</div>
					</div> <br/>
					<div class="row buttons-demo">
						<div class="col-md-12">
							<div class="input-group demo-group">
                                <span class="input-group-addon addon-left">
									<input type="radio" name="active" id="c5"  aria-label="Radio button for following text input" />
                            		<label for="c5" class="margin-zero"><span></span></label>
									</span>
								<input type="text" class="form-control" aria-label="Text input with radio button">
							</div>
						</div>
					</div>
					<!-- /row -->	
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->

		<!-- *** Button Addons *** -->
		<div class="col-md-6">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Button Addons
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row buttons-cascade">
						<div class="col-md-12">
							<a class="input-group demo-group">
								<span class="input-group-btn">
									<button class="btn btn-success btn-lg" type="button">Go!</button>
								</span>
								<input type="text" class="form-control">
							</a><br />
							<a class="input-group demo-group">
								<input type="text" class="form-control">
								<span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">Search!</button>
								</span>
							</a>
						</div>
					</div>
					<!-- /row -->	
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-6 -->
	</div>
	<!-- /row-->

	<!-- *** Buttons With Dropdowns *** -->
	<div class="row grid">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Buttons With Dropdowns
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row buttons-demo">
						<div class="col-md-6">
							<div class="input-group demo-group">
								<div class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">LogIn <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!-- /btn-group -->
								<input type="text" class="form-control">
							</div>
						</div> <!-- / col-md-6 -->
						<div class="col-md-6">
							<div class="input-group demo-group">
								<input type="text" class="form-control">
								<div class="input-group-btn">
                                    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown">LogOut <span class="caret"></span></button>
									<ul class="dropdown-menu pull-right">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!-- /btn-group -->
							</div>
						</div> <!-- /col-md-6 -->
					</div> <!-- /row -->	
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-12 -->
	</div>
	<!-- /row -->
	
	<!-- *** Segmented Buttons *** -->
	<div class="row grid">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku">
				<div class="panel-heading">
					<h3 class="panel-title">
						Segmented Buttons
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i>
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i>
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row buttons-demo">
						<div class="col-md-6">
							<div class="input-group demo-group">
								<div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg">Default</button>
                                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group demo-group">
								<input type="text" class="form-control">
								<div class="input-group-btn">
                                    <button type="button" class="btn btn-warning btn-lg">Click</button>
                                    <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						<!-- /col-md-6 -->
					</div>
					<!-- /row -->
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /col-md-12 -->
	</div>
	<!-- /row -->
</div>