<div class="animated fadeInUpBig">
<form name="teacherForm" ng-submit="insertOrUpdate()"  class="form-require-dirty-check">
<div style="margin-top:10px;padding-bottom: 5px">
    <div class="left">
        <div class="right" style="float:right">
            <button type="submit" class="btn btn-primary btn-radius">
                <span class="glyphicon glyphicon-floppy-disk"></span>   
                {{'common.BTN_SAVE'|translate}}
            </button>  
            <button type="reset" class="btn btn-orange btn-radius">
                <span class="glyphicon glyphicon-fire"></span>
                {{'common.BTN_RESET'|translate}}
            </button> 
            <button type="button" ng-click="cancel()" class="btn btn-red btn-radius">
                <span class="glyphicon glyphicon-trash"></span>
                {{'common.BTN_CANCEL'|translate}}
            </button>
        </div>
        <label  ng-if="teacher.teacherId == null" style="font-size:20pt">
             <h4><i class="ion-document" style="margin-right:5px"/>
             {{'common.BTN_ADD'|translate}}</h4>
        </label>
         <label  ng-if="teacher.teacherId != null"  style="font-size:20pt">
             <h4><i class="ion-document-text"  style="font-size:15pt;margin-right:5px"/>
             {{teacher.teacherName}}</h4>
        </label> 
    </div>
</div>   	
	<div  style="position:relative !important">
	    <div class="info-stats" style="box-shadow: none; -webkit-box-shadow: none">	        
	        <div class="col-sm-3" >                                
	            <span class="avatar-holder">
	                <img ng-src="{{teacher.teacherImage}}" alt="" 
	                	style="width:80px;height:80px;border-radius:40px" 
	                	ng-if="teacher.teacherImage != null">
	                <img ng-src="http://rc.songcanbang.org/images/person.png" alt="" 
	                	style="width:80px;height:80px;border-radius:40px" 
	                	ng-if="teacher.teacherImage == null">
	                
	                <input type="file" id="teacherAvataFile" 
	                    ng-model="teacherAvataFile" 
	                    onchange="angular.element(this).scope().changeUpload(this)"
	                    style="display:none" accept="image/*"/>
	            </span>
	            <div>
	                <label for="teacherAvataFile" 
	                style="cursor: pointer;cursor: pointer;color: black;font-size: 10pt;font-weight: 100;text-decoration: underline;">
	                    {{'common.CHANGE_AVATAR'|translate}}
	                </label>
	            </div>
	        </div>
	        <div class="right col-sm-6" style="padding-left: 0px">                               
	        	<div>
	            	<input class="special-text" placeholder="{{'course.teacher.FULL_NAME'|translate}}" type="text" 
	            		ng-model="teacher.teacherName"/>
	            </div>
	            <div>
	            	<input class="special-text" placeholder="email" type="text" ng-model="teacher.email"/>
	        	</div>
	        </div>
	    </div>
	    <!-- teacher_company -->
	    <div class="input-group" style="margin-top:10px;margin-right:0px !important;margin-left:0px !important;">
	        <span class="input-group-addon bg">
	            <a href="javascript:void(0)"
	                style="color:#fff;text-decoration:none;font-size: 10pt;">
	                 <span class="ion-ribbon-b"></span>
	                 {{'course.teacher.COMPANY_INFO'|translate}}
	            </a>
	        </span>
	        <input type="text"
	            placeholder="Company information"
	            class="form-control"
	            ng-model="teacher.teacherCompany" id="title" />
	    </div>
	    <!-- Phone -->
	    <div class="input-group" style="margin-top:10px;margin-right:0px !important;margin-left:0px !important;margin-bottom:10px">
	        <span class="input-group-addon bg">
	            <a href="javascript:void(0)"
	                style="color:#fff;text-decoration:none;font-size: 10pt;">
	                 <span class="ion-iphone"></span>
	                 {{'course.teacher.PHONE'|translate}}
	            </a>
	        </span>
	        <input type="text"
	            placeholder="Phone number"
	            class="form-control"
	            ng-model="teacher.phone" id="title" />
	    </div> 
	    <!-- teacher_content -->
	    <div style="border-top: 1px solid #eee;">
	        <div class="form-group row-div">
	            <textarea ui-tinymce="teacherDescOptions" 
	                rows="5" cols="1" id="content" name="teacherDesc" class="form-control form-text-area"
	                maxlength="2048" 
	                ng-model="teacherDescModel" placeholder="{{'course.TEACHER_DESC'|translate}}"
	                ng-minlength="1" ng-maxlength="2048">
	             </textarea> 
	        </div>
	    </div>
	</div>
	<div style="text-align:right;margin-top:10px;bottom:0;padding-top: 5px" class="right">
	    <button type="submit" class="btn btn-primary btn-radius">
	        <span class="glyphicon glyphicon-floppy-disk"></span>   
	        {{'common.BTN_SAVE'|translate}}
	    </button>  
	    <button type="reset" class="btn btn-orange btn-radius">
	        <span class="glyphicon glyphicon-fire"></span>
	        {{'common.BTN_RESET'|translate}}
	    </button> 
	    <button type="button" ng-click="cancel()" class="btn btn-red btn-radius">
	        <span class="glyphicon glyphicon-trash"></span>
	        {{'common.BTN_CANCEL'|translate}}
	    </button>
	</div>
</form>
</div>
