	<div class="animated fadeInUpBig" ng-controller="dashboardCtrl">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 nopad-right">
					<div class="dashboard-stats">
						<div class="left">
							<h3 class="flatBluec counter"  data-to="9600" data-speed="3000">6,600</h3>
							<h4>Số người online</h4>
						</div>
						<div class="right flatBlue">
							<i class="ion ion-ios-heart-outline"></i>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 nopad-right">
					<div class="dashboard-stats">
						<div class="left">
							<h3 class="flatGreenc counter" data-to="6600" data-speed="2000">6600</h3>
							<h4>Tổng số học viên</h4>
						</div>
						<div class="right flatGreen">
							<i class="ion ion-ios-color-filter-outline"></i>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 nopad-right">
					<div class="dashboard-stats">
						<div class="left">
							<h3 class="flatRedc counter"  data-to="120" data-speed="7000">6,600</h3>
							<h4>Tổng số videos</h4>
						</div>
						<div class="right flatRed">
							<i class="ion ion-ios-alarm-outline"></i>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 nopad-right">
					<div class="dashboard-stats">
						<div class="left">
							<h3 class="flatOrangec counter"  data-to="123765" data-speed="2000">6,600</h3>
							<h4>Tổng số khóa học</h4>
						</div>
						<div class="right flatOrange">
							<i class="ion ion-ios-analytics-outline"></i>
						</div>
					</div>
				</div>
			</div>
	</div>
	
