
/*========================tat ca danh muc=========================*/

.fa-th{
    margin-right: 7px !important;
}
.sub1 {
    font-weight: 600;
}
.segment_mega_menu{
    position: relative;
    z-index: 30;
}
.butt_segment_mega_menu{
    width: 175px;
    height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    /* background-image: url(../images/segment-mega-menu.icon.png); */
    background-position: 0 0px;
    cursor: pointer;
    font-size: 14px;
    color: #505763;
    float: left;
    font-weight: 400;
}
.butt_segment_mega_menu :before {
   content: "\E90F";
}
.drop_segment_mega_menu{
    display: none;
    position: absolute;
    top: 40px;
    left: -8px;
    padding-top: 8px;
}
.segment_mega_menu:hover .drop_segment_mega_menu{
    display: block;
}
.ul_lv1_segment{
    width: 255px;
    background-color: #fff;
    border-color: #f8f8f8;
    border-style: outset;
    position: relative;
}
.ul_lv1_segment:before{
    bottom: 100%;
    left: 9px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #fff;
    margin-left: 0px;
    border-width: 0 10px 13px;
    border-color: transparent transparent #f8f8f8;
}
.ul_lv1_segment .item_lv1_segment .bd_link_segment{
    display: block;
    position: relative;
}
.ul_lv1_segment .item_lv1_segment .bd_link_segment:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 21.5px 0 21.5px 6px;
    border-color: transparent transparent;
    display: block;
    width: 0;
    margin-top: -43px;
    right: -6px;
    z-index: 60;
}
.ul_lv1_segment .item_lv1_segment:hover .bd_link_segment:after{
    border-color: transparent #f2f3f5;
}
.ul_lv1_segment .item_lv1_segment:hover .bd_link_segment{
 background: #f2f3f5;
}
.ul_lv1_segment .item_lv1_segment a.link_segment{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-family: Roboto_Medium;
    font-size: 14px;
    color: #333;
}
.ul_lv1_segment .item_lv1_segment a.link_segment:before{
    content: '';
    background-color: #DCDCDC !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -99px;
    width: 198px;
    height: 1px;
}
.ul_lv1_segment .item_lv1_segment:hover a.link_segment:before{
    background-color: transparent !important;
}
.ul_lv1_segment .item_lv1_segment a.link_segment .thumbnail_segment{
    border-radius: 0px;
    display: inline-block;
    background-color: transparent ;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    width: 47px;
    height: 43px;
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
    line-height: 35px;
}
.ul_lv1_segment .item_lv1_segment :hover a.link_segment .tit_segment{
    text-decoration: none;
    color: #007791;
}
.ul_lv1_segment .item_lv1_segment:hover a.link_segment .thumbnail_segment{
    opacity: 1;
}
.ul_lv1_segment .item_lv1_segment a.link_segment .thumbnail_segment img{
    width: 24px;
    height: 24px;
}
.ul_lv1_segment .item_lv1_segment .link_segment .tit_segment{
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
	overflow: hidden;
    height: auto;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    color: #29303b;
    font-size: 15px;
    font-family: sans-serif;
}
.ul_lv1_segment .item_lv1_segment .link_segment .tit_segmen :hover {
     text-decoration: underline;
    color: #007791;
}
.ul_lv1_segment .sub_segment_mega_menu{
    position: absolute;
    top: 0px;
    left: 100%;
    background: #f9f9f9;
    width: 255px;
    min-height: 100%;
    max-height: 100%;
    padding-bottom: 40px;
    padding-top: 15px;
    display: none;
    overflow: hidden;
    z-index: 50;
}
.ul_lv1_segment .item_lv1_segment:hover .sub_segment_mega_menu{
    display: block;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment{
    width: 100%;
    float: left;
    max-height: 100%;
    overflow: hidden;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment>a{
    font-size: 12px;
    color: #333333;
    font-family: Roboto_Medium;
    display: block;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 5px;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment a:hover{
    text-decoration: underline;
    color: #007791;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment li {
    height: 30px;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment li:hover {
    background-color: #e8e8e8;
}
.ul_lv1_segment .sub_segment_mega_menu .sub_lv1_segment .view_all_menu_segment{
    display: block;
}
.ul_lv1_segment .sub_segment_mega_menu .view_all_menu_segment{
    display: block;
    color: #333333;
    text-decoration: underline;
    font-family: Roboto_Medium;
    font-style: italic;
    position: absolute;
    left: 0px;
    bottom: 0px;
    line-height: 30px;
    padding-left: 20px;
    background: #ffffff;
    width: 100%;
}
.ul_lv1_segment .sub_segment_mega_menu .view_all_menu_segment:hover{
    color: #007791;
}
.left_hd_content{
    width: 100%;
    background: #3b5999;
    min-height: 555px;
}
.left_hd_content .mega_menu_left{
    width: 100%;
    background: #3b5999;
    position: relative;
}
.mega_menu_left .item_lv1_mega .bd_link_mega {
    display: block;
    position: relative;
}
.mega_menu_left .item_lv1_mega .bd_link_mega:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 21.5px 0 21.5px 6px;
    border-color: transparent transparent;
    display: block;
    width: 0;
    margin-top: -43px;
    right: -6px;
    z-index: 60;
}
.mega_menu_left .item_lv1_mega:hover .bd_link_mega {
    background: #7add7a;
}
.mega_menu_left .item_lv1_mega:hover .bd_link_mega:after {
    border-color: transparent #7add7a;
}
.mega_menu_left .item_lv1_mega a.link_mega {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-family: Roboto_Medium;
    font-size: 14px;
    color: #ffffff;
}
.mega_menu_left .item_lv1_mega:hover a.link_mega:before {
    background-color: transparent !important;
}
.mega_menu_left .item_lv1_mega a.link_mega:before {
    content: '';
    background-color: #99CC66 !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -99px;
    width: 198px;
    height: 1px;
}
.mega_menu_left .item_lv1_mega a.link_mega .thumbnail_mega {
    border-radius: 0px;
    display: inline-block;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    width: 47px;
    height: 43px;
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
    line-height: 35px;
}
.mega_menu_left .item_lv1_mega:hover a.link_mega .thumbnail_mega {
    opacity: 1;
}
.mega_menu_left .item_lv1_mega .link_mega .tit_mega {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 42px;
    height: 43px;
}
.mega_menu_left .sub_mega_mega_menu {
    position: absolute;
    top: 0px;
    left: 100%;
    background: rgba(255, 255, 255, 0.8);
    width: 617px;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 15px;
    display: none;
    overflow: hidden;
    z-index: 50;
}
.mega_menu_left .sub_mega_mega_menu .sub_lv1_mega {
    width: 25%;
    float: left;
    max-height: 100%;
    overflow: hidden;
}
.mega_menu_left .item_lv1_mega:hover .sub_mega_mega_menu {
    display: block;
}
.mega_menu_left .sub_mega_mega_menu .sub_lv1_mega a:hover {
    text-decoration: underline;
    color: #7add7a;
}
.mega_menu_left .sub_mega_mega_menu .sub_lv1_mega a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #666666;
    line-height: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
}
.mega_menu_left .sub_mega_mega_menu .sub_lv1_mega>a {
    font-size: 12px;
    color: #333333;
    font-family: Roboto_Medium;
    display: block;
}
.mega_menu_left .sub_mega_mega_menu .view_all_menu_mega {
    display: block;
    color: #333333;
    text-decoration: underline;
    font-family: Roboto_Medium;
    font-style: italic;
    position: absolute;
    left: 0px;
    bottom: 0px;
    line-height: 40px;
    padding-left: 20px;
    /*background: #ffffff;*/
    width: 100%;
}
.mega_menu_left .sub_mega_mega_menu .view_all_menu_mega:hover {
    color: #7add7a;
}