	<div class="nav1" style="margin-top: 36px">
		{{'function.HEADER'|translate}}
		<div style="float:right;margin-right:10px" ng-if="signedInUser.aud != null">
			<span>{{'common.WELCOME'|translate}}: {{signedInUser.aud}}</span>
			<button class="btn btn-primary scb-btn" style="width: 65px;color:black !important;height:22px !important;background-color:#f3f3f3 !important" type="button" 
				ng-if="signedInUser.aud != null" 
				ng-click="logout()">
				<span class="glyphicon glyphicon-log-out"></span>
				{{'common.LOGOUT'|translate}}
			</button>
		</div>
	</div>	
	<div class="search-bar">
		<div class="" style="text-align:left;vertical-align: middle; margin-left: 5px;">
			<input type="text" placeholder="{{'common.SEARCH_PLACE_HOLDER'|translate}}" id="searchTxt" ng-enter='search()'
			 class="search-text"/>			 
			<button type="button" class="btn btn-primary scb-btn" ng-click='search()' id="searchBtn">
				 <span class="glyphicon glyphicon-search"></span>
				 {{'common.BTN_SEARCH'|translate}}
			</button> 
			<button type="button" class="btn btn-primary scb-btn" ng-click='create()' id="addBtn">
				<span class="glyphicon glyphicon-plus"></span>
				{{'common.BTN_ADD'|translate}}
			</button>
		</div>
	</div>
<div class="history-panel">
   	<div class="nav-div" >
   		<div id="historySearchLink"	style="width: 100%;padding-top:5px;padding-bottom:3px"/>
   	</div>		    	
</div>
<div class="history-panel-container">
  	<div class="grid-panel">
	  		<div class="grid-container">
	  			<div id="grid1"  ui-grid="gridOptions" class="grid" ui-grid-pinning ui-grid-auto-resize style="height:100%"></div>				    			
  			</div>
	</div>
</div>

			    			
